<aside class="l-sidebar">

  <div class="sections sidebar">
    {{ partial "author.html" . }}
    {{ partial "latests.html" . }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- メニューバー -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3443926296700450"
         data-ad-slot="2289968609"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</aside>
